
    .search
    {fontSize:30,fontweight:'bold',marginTop:40,textAlign:'center',backgroundColor:'deepskyblue'},
    input:{fontStyle:'italic',borderStyle:'solid',borderWidth:1,padding:5,marginTop:30,marginLeft:10,marginRight:10},
    Heading1:{padding:5,marginBottom:5,marginTop:20,fontSize:20,marginLeft:10,fontWeight:'bold',fontFamily:'sans-serif'},
    Normal:{marginLeft:10,marginBottom:5,fontWeight:'bold',fontSize:20,padding:5,marginTop:10,fontFamily:'sans-serif'},
    .item: {
      backgroundColor: "white",
      marginHorizontal: 8,
      marginLeft:10,
      flex:1,
      alignItems:'stretch',
      justifyContent:'center',
      padding:8,
      borderWidth:1,
      borderStyle:'dotted'
    },
    title: {
      fontSize: 14,
      flex:1
    },
    price:{
      fontSize:13,
      flex:1
    },
    text:{
      fontSize:13,
      flex:3
    }
  }
 